.jumbotron{
     background-image: url("images/backgroundimage.jpg");
     font-family: Palatino, 'Palatino Linotype', serif;
     font-size: 300%;
     font-stretch: ultra-expanded;
     color:white;
     margin:auto;
}

section{
    background-color:rgb(218,190,206);
    padding: inherit;
    margin:20px;
}

h3{
    text-align:center;
    font-family: Palatino, 'Palatino Linotype', serif;
    background-color:white;
    
}
a{
    background-color:grey;
    color:black;
    width:auto;
}